:root {
  --font-family: Montserrat, sans-serif;
  --fw-normal: 300;
  --fw-bold: 600;
}

body {
  background-color: #6ec7d1;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: var(--fw-normal);
  margin: 0;
}